.full{
    height: 100%;
}
.top{
    margin-top: 2%;
}
.card{
    padding: 10px 10px 0px 10px;
    margin: 5px;
    width: 230px;
    height: 115px;
    display: inline-block;
}
.avatar {
    background-size: cover;
    width: 58px;
    height: 65px;
}
.center{
    margin-left: 40%;
}
.alignText{
    text-align: right; 
}
.radiobtn{
padding: 5px 5px 0px 5px;
}

.buscar{
    width: 50%;
}
.formBuscar{
    margin-left: 35%;
    width: 40%;
}
.buttonAdd{
    position: fixed;
    top:85%;
    left: 90%;
}
@media screen and (max-width:750px) {
    .center{
        margin-left: 35%;
    }
    .formBuscar{
        width: 90%;
        margin-left: 10%;
    }
    .buscar{
        width: 80%;
    }
    .buttonAdd{
        
        top:85%;
        left: 80%;
    }
       
}