.full{
    height: 100%;
}
.top{
    margin-top: 2%;
}
.card{
    padding: 10px 10px 0px 10px;
    margin: 5px;
    width: 230px;
    height: 115px;
    display: inline-block;
}
.avatar {
    background-size: cover;
    width: 58px;
    height: 65px;
}
.center{
    margin-left: 40%;
}
.alignText{
    text-align: right;
}
.radiobtn{
padding: 5px 5px 0px 5px;
}

.buttonAdd{
    position: fixed;
    top:85%;
    left: 90%;
}
.buscar{
    width: 50%;
}
.formBuscar{
    margin-left: 35%;
    width: 40%;
}
@media screen and (max-width:750px) {
    .center{
        margin-left: 35%;
    }
    .formBuscar{
        width: 90%;
        margin-left: 10%;
    }
    .buscar{
        width: 80%;
    }
    .buttonAdd{

        top:85%;
        left: 80%;
    }

}

.table-content {
  width: 100%;
  overflow-x: auto;
  margin: 20px;
  border: solid #f2f2f2 1px;
}

.mat-column-nro            { min-width: 80px; max-width: 80px; }
.mat-column-username       { min-width: 150px; max-width: 100%; }
.mat-column-paterno        { min-width: 150px; max-width: 100%; }
.mat-column-materno        { min-width: 150px; max-width: 100%; }
.mat-column-nombre         { min-width: 150px; max-width: 100%; }
.mat-column-identificacion { min-width: 100px; max-width: 100%; }
.mat-column-rol            { min-width: 100px; max-width: 100px; }
.mat-column-ver            { min-width: 50px; max-width: 50px; }
.mat-column-eliminar       { min-width: 50px; max-width: 50px; }
.mat-column-reset-pass     { min-width: 50px; max-width: 50px; }
