<!-- <app-usuarios-buscar></app-usuarios-buscar> -->
<div class="top" fxLayout="row wrap" fxLayoutAlign="center"  >
  <div fxFlex="100%" fxFlexAlign="end">
      <form  class="formBuscar">
        <mat-form-field class="buscar">
          <input type="text" matInput [(ngModel)]="parametro" name="parametro" placeholder="Buscar persona" (input)="buscarUsuario()" aria-label="Number"  >
        </mat-form-field>
        <button mat-icon-button color="primary"  (click)="buscarUsuario()" ><mat-icon>search</mat-icon> </button>
      </form>
  </div>

  <div class="table-content">
  <table mat-table [dataSource]="resultadoBusqueda">

    <ng-container matColumnDef="nro">
      <th mat-header-cell *matHeaderCellDef> Nro. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="paterno">
      <th mat-header-cell *matHeaderCellDef> Paterno </th>
      <td mat-cell *matCellDef="let element"> {{element.paterno}} </td>
    </ng-container>

    <ng-container matColumnDef="materno">
      <th mat-header-cell *matHeaderCellDef> Materno </th>
      <td mat-cell *matCellDef="let element"> {{element.materno}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="identificacion">
      <th mat-header-cell *matHeaderCellDef> Identificación </th>
      <td mat-cell *matCellDef="let element"> {{element.identificacion}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario[0].username}} </td>
    </ng-container>

    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
    </ng-container>

    <ng-container matColumnDef="ver">
      <th mat-header-cell *matHeaderCellDef> Ver </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button  (click)="ver(element)">
          <mat-icon> visibility </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button  (click)="eliminarPersona(element.id)">
          <mat-icon> delete_forever </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="reset-pass">
      <th mat-header-cell *matHeaderCellDef> Reset pass </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button  (click)="resetPass(element)">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12.63,2C18.16,2 22.64,6.5 22.64,12C22.64,17.5 18.16,22 12.63,22C9.12,22 6.05,20.18 4.26,17.43L5.84,16.18C7.25,18.47 9.76,20 12.64,20A8,8 0 0,0 20.64,12A8,8 0 0,0 12.64,4C8.56,4 5.2,7.06 4.71,11H7.47L3.73,14.73L0,11H2.69C3.19,5.95 7.45,2 12.63,2M15.59,10.24C16.09,10.25 16.5,10.65 16.5,11.16V15.77C16.5,16.27 16.09,16.69 15.58,16.69H10.05C9.54,16.69 9.13,16.27 9.13,15.77V11.16C9.13,10.65 9.54,10.25 10.04,10.24V9.23C10.04,7.7 11.29,6.46 12.81,6.46C14.34,6.46 15.59,7.7 15.59,9.23V10.24M12.81,7.86C12.06,7.86 11.44,8.47 11.44,9.23V10.24H14.19V9.23C14.19,8.47 13.57,7.86 12.81,7.86Z" /></svg>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="marcar-asistencia">
      <th mat-header-cell *matHeaderCellDef> Marcar asistencia </th>
      <td mat-cell *matCellDef="let element">
        <button ng-if="element.rol === 'alumno'" mat-icon-button  (click)="marcarAsistencia(element)">
          <mat-icon> check </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  </div>

  <div style="height: 10px;"></div>

  <mat-progress-bar *ngIf="consulta" mode="indeterminate"></mat-progress-bar>

 <div fxFlex="60"  FxFill fxFlexAlign="start center" >
    <mat-card *ngIf="persona" >
        <mat-card-content>
          <!-- <app-perfil
           [persona]="persona"
          [action]="action"
          [tipo]="tipo"
          (EnviarPersona)="guardarProfesor($event)"
          [qrCode]="persona.identificacion"
            >
          </app-perfil> -->
          <div fxFlex="100" fxFlex.gt-md="60" fxLayout.gt-md="row wrap" fxLayout="column"  fxFlexAlign="center" >
           <div *ngIf="persona" class="ancho80" >
             <h3 class="enlinea " >{{(persona && persona.rol) ? persona.rol.toUpperCase() : ''}}</h3>
           </div>
           <div class="margen0">
             <app-perfil
               *ngIf="persona" [persona]="persona"
               [action]="action" [tipo]="tipo"
               (EnviarPersona)="guardarPersona($event)"
               [qrCode]="persona.identificacion"
               >
             </app-perfil>
           </div>
         </div>

         <!-- <mat-card>
           ROLES
           <mat-card-content *ngIf="action==='nuevo'">
              <mat-radio-group name="rol" [(ngModel)]="select" >
                <mat-radio-button value="administrativo" checked>Administrativo</mat-radio-button>
                <mat-radio-button value="admin">Super Usuario</mat-radio-button>
              </mat-radio-group>
           </mat-card-content>
           <mat-card-content *ngIf="action==='ver'">
              {{persona.rol}}
           </mat-card-content>
         </mat-card> -->

        </mat-card-content>

      <mat-card-actions >
        <button mat-button  *ngIf="action==='nuevo' || action==='editar'" color="primary" (click)="cancelar()" ><mat-icon>arrow_back</mat-icon>Atras</button>
        <button mat-button  *ngIf="action==='nuevo' || action==='editar'" color="accent" (click)="guardarPersona()" >Guardar<mat-icon>save</mat-icon> </button>
        <button mat-button  *ngIf="action==='ver'" color="primary" (click)="editar()" ><mat-icon>edit</mat-icon>Editar </button>
        <button mat-button  *ngIf="action==='nuevo' || action==='editar'" color="warn" (click)="cancelar()" >Borrar<mat-icon>delete_forever</mat-icon> </button>

      </mat-card-actions>

    </mat-card>

    </div>


    <div class="buttonAdd" >
        <button mat-fab color="accent" (click)="adicionar()"> <mat-icon>add</mat-icon> </button>
    </div>


</div>
