<div class="container" fxLayout="column" fxLayoutAlign="start center" >

  <h1 class="mat-display-1">Sistema Académico</h1>

  <h2 class="mat-h2" *ngIf="!model.codigo">Recuperar contraseña</h2>

  <div fxLayout="column" fxLayoutAlign="start center" *ngIf="model.codigo">
    <span class="mat-body-1" style="text-align:center;margin-bottom:20px"><strong>Reestablecer contraseña para:</strong><br> {{ nombreUsuario }}</span>
  </div>

  <form class="form" (ngSubmit)="onSubmit()" #LoginForm="ngForm">

    <mat-card>
      <mat-card-content>

        <div fxLayout="column" fxLayoutAlign="start stretch" *ngIf="!model.codigo">
          <mat-form-field>
            <input matInput placeholder="Email" required [(ngModel)]="model.email" name="email">
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="end center" style="margin-top:20px" >
            <button class="submit" type="button" routerLink="/login" mat-raised-button>Volver al login</button>
            <button class="submit" type="submit" mat-raised-button color="primary">Continuar</button>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="start stretch" *ngIf="model.codigo">
          <mat-form-field>
            <input matInput type="password" placeholder="Contraseña nueva" required [(ngModel)]="model.password" name="pass">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Confirmar contraseña" required [(ngModel)]="model.password_confirm" name="passConfirm">
          </mat-form-field>
          <button class="submit" type="submit" mat-raised-button color="primary">Aceptar</button>
        </div>

      </mat-card-content>
    </mat-card>

  </form>

</div>
