<mat-card class="card">
  <mat-card-title>
    <h3 >Grado</h3>
  
  </mat-card-title>
  <mat-card-content>
    <mat-chip-list >
      <div *ngFor="let grado of grados">
        <mat-chip >{{grado.nombre}} <mat-icon (click)="deleteGrado(grado.id)" >close</mat-icon></mat-chip>                        
      </div>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="!swGrado"  color="accent" (click)="addGrado()"> <mat-icon>add</mat-icon> </button>
    <form  *ngIf="swGrado">
        <mat-form-field class="ancho" >
          <input type="text"  matInput #nombreGr name="nombreGr" [(ngModel)]="grado.nombre" autocomplete="off"  placeholder="Grado" required>
        </mat-form-field>
        <button mat-button   color="accent" (click)="postGrado()"  >Guardar</button>
        <button mat-button  color="warn" (click)="closeGrado()"> <mat-icon>close</mat-icon> </button>
      </form>
  </mat-card-actions>
</mat-card>

