<div class="centro">
  <p>
    <span>Faltas : {{nroFaltas}}   Asistencias : {{nroAsistencias}}</span>
  </p>
</div>

<div  class="scroll">
  <table>
      <thead>
          <th class="titulo" >Fecha</th>
          <th class="titulo" >Hora llegada</th>
          <th class="titulo" >Hora Salida</th>
          <th class="titulo" >Estado</th>
        </thead>
    <tr *ngFor="let asistencia of asistencias">
      
      <td><input matInput  [matDatepicker]="myDatepicker" placeholder="" [value]="asistencia.fecha" name="fecnac" readonly class="campo input" > </td>
      <td class="campo" > {{asistencia.hora_llegada}} </td>
      <td class="campo" > {{asistencia.hora_salida}} </td>
      <td class="campo" > {{asistencia.estado}} </td>
    </tr>
  </table>
</div>