.scroll{
    height: 450px;
    overflow: auto;

}
.centro{
text-align: center;
}
.campo{
padding: 5px 10px;
border: none;
text-align: center;
color: rgb(46, 46, 46)
}
.input{
    width: 80px;
    
}
.titulo{
    font-size: 1.1em;
    color: rgba(31, 30, 30, 0.938);
}
td{
    padding: 5px;
}