.texto{
    text-align: justify
}
 .buscar{
    width: 70%;
} 
.formBuscar{
    width: 250px;
    margin: auto;
    margin-top: 16px;
}
.textAlign{
    justify-content:start;
}
.centertext{
    text-align: center;
    font-size: 1.3em;
}
.marginTop{
margin-top: 15px;
}
.mesclass{
    display: block;
    width: 100%;
    height: auto;
}
.mesLinea{
    display: inline;
    border: 0px;
    padding: 0px;
}
.nombre{
    width: 50%;
}
.ciVer{
    width: 25%;
}
.centerElement{
    display: block;
    margin: 0px auto;
}
.ci{
    text-align: center;
}

.tableEst{
    margin-top: 16px;
    width: 100%;
    border-style: solid;
    border-color: gray;
    border-spacing: 1px;
}

@media screen and (max-width:750px) {
    .formBuscar{
        width: 90%;
        margin-left: 10%;
    }
    .buscar{
        width: 80%;
    }
       
}