<div fxLayout="column" fxLayoutAlign="start start" class="container">
  <h1 class="mat-display-1">Informe de Asistencia</h1>
  <mat-card class="tab-container">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Administrativos">
          <div class="tab-content">
            <tabla-asistencia></tabla-asistencia>
          </div>
        </mat-tab>
        <mat-tab label="Reportes" class="tab-content">
          <div class="tab-content">
            <reportes></reportes>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
