
<div fxLayout="row wrap" fxLayoutAlign="center">
  <div fxFlex="100" class="content" >
    <div>
      <!-- grado -->
      <app-grado></app-grado>
    </div>
  </div>
  <div fxFlex="100" class="content">
    <!-- grupos -->
    <app-grupo></app-grupo>
  </div>
  <div fxFlex="100" class="content">
    <!-- turno -->
    <app-turno>
    </app-turno>
  </div>
  <div fxFlex="100" class="content">
    <!-- paralelo -->
    <app-paralelo></app-paralelo>
  </div>
  <div fxFlex="100" class="content">
    <app-periodo></app-periodo>
  </div>
</div>  
