<div fxLayout="column" fxLayoutAlign="start center" class="container">
  <form class="form" (ngSubmit)="aceptar()">
    <div fxLayout="row" fxLayoutAlign="start start">
      <mat-form-field style="min-width:200px">
        <input matInput placeholder="codigo" required [(ngModel)]="codigo" name="codigo">
      </mat-form-field>
      <button type="submit" style="margin-left:20px" mat-raised-button color="primary">Buscar</button>
    </div>
  </form>
  <!-- <div style="max-with:400px;max-height:600px;backgroud-color:grey">
    <pdf-viewer
      [src]="'assets/archivo.pdf'"
      [render-text]="false"
      [autoresize]="true"
      [original-size]="false"
    ></pdf-viewer>
  </div> -->
</div>
