.top{
margin-top: 2%;
}
.margen0{
    margin: 0px;
    margin-left: 5%;
    margin-right: 5%;

}
.pullRight{
    float: right !important;
}
.ancho80{
    margin: auto;
    width: 80%;
}
.enlinea{
    display: block;
    float: left;
}
.tutores{
    clear: left;
    margin-left: 5%;
    width: 350px;
}
.avatar {
    background-size: cover;
    width: 58px;
    height: 65px;
}
.center{
    margin-left: 40%;
}
.alignText{
    text-align: right; 
}
.radiobtn{
padding: 5px 5px 0px 5px;
}

.buscar{
    width: 50%;
}
.formBuscar{
    margin-left: 35%;
    width: 40%;
}
.buttonAdd{
    position: fixed;
    top:85%;
    left: 90%;
}
@media screen and (max-width:750px) {
    .center{
        margin-left: 35%;
    }
    .formBuscar{
        width: 90%;
        margin-left: 10%;
    }
    .buscar{
        width: 80%;
    }
    .buttonAdd{
        
        top:85%;
        left: 80%;
    }
    .tutores{
        margin-left:10%; 
        width: 300px;   
    }
       
}