<mat-progress-bar *ngIf="consulta" mode="indeterminate"></mat-progress-bar>
<div class="top" fxLayout="row wrap" fxLayoutAlign="center"  >
  <!-- MOSTRAT ESTUDIANTES  -->
  <div fxFlex="100">
    <app-selector-curso
    [turnos]="turnos"
    (enviarEstudiantes)="mostrarEstudiantes($event)"
    (consultando)="consultando($event)"
    (nuevoActivado)="adicionarBotonActivar($event)"
    (actualizarCursoId)="actualizarIdCursos($event)"
    
    ></app-selector-curso>
  </div> 
  <div fxFlex="100" class="cards-content">
    <a name="cardView"></a>
    <div fxFlex="100" [fxFlex.gt-md]="action === 'nuevo' ? 100 : 60"  fxLayout.gt-md="row wrap" fxLayout="column"  fxFlexAlign="center" >
     <mat-card *ngIf="estudiante" class="ancho80" >
       <div>
         <!-- <h3 class="enlinea" id="idPersona-{{ estudiante.id }}" >{{ estudiante.rol.toUpperCase() }}</h3> -->
          <button mat-button class="enlinea pullRight" *ngIf="action==='nuevo' || action==='editar'" color="primary" (click)="cancelar()" ><mat-icon>arrow_back</mat-icon> </button>
          <button mat-icon-button class="enlinea pullRight"  *ngIf="action==='nuevo' || action==='editar'" color="accent" (click)="guardar()" ><mat-icon>save</mat-icon> </button>
          <button mat-icon-button class="enlinea pullRight" *ngIf="action==='ver'" color="primary" (click)="editar()" ><mat-icon>edit</mat-icon> </button>
          <button mat-icon-button class="enlinea pullRight" *ngIf="action==='nuevo' || action==='editar'" color="warn" (click)="cancelar()" ><mat-icon>delete_forever</mat-icon> </button>
       </div>
       <div class="margen0">
         <app-perfil
           *ngIf="estudiante" [persona]="estudiante"
           [action]="action" [tipo]="tipo"
           (EnviarPersona)="guardarProfesor($event)"
           [qrCode]="estudiante.identificacion"
           >
         </app-perfil>
       </div>
     </mat-card>
   </div>
 
  <div fxFlex="100"  fxFlex.gt-md="40" fxFlex.lt-md="100" fxLayout.gt-md="row wrap" fxLayoutAlign="start start" fxFlexAlign="start"  *ngIf="tutores" >
    <mat-card class="ancho80">
        <h3 class="enlinea">Tutores</h3>
        <button mat-icon-button class="enlinea pullRight" color="primary" (click)="adicionarPadres()" ><mat-icon>add</mat-icon> </button>
        <table class="tutores">
          <tr *ngFor="let tutor of tutores">
            <td>{{tutor.idPersona.nombre}} {{tutor.idPersona.paterno}} {{tutor.idPersona.materno}}</td>
            <td>{{tutor.idPersona.celular}}</td>
            <td><button mat-icon-button color="accent" (click)="editarPadre(tutor.idPersona)" ><mat-icon>mode_edit</mat-icon> </button></td>
            <td><button mat-icon-button color="warn" (click)="eliminarTutor(tutor)" ><mat-icon>delete</mat-icon> </button></td>
          </tr>
        </table>
    </mat-card>
  </div>
  </div>

<div fxFlex="100">
  <app-lista-estudiantes
    [estudiantes]="estudiantes"
    (mostrar)="verEstudiante($event)"
    (borrar)="deletePersona($event)"
    >
    </app-lista-estudiantes>
  </div>

  <div class="buttonAdd" >
      <button mat-fab color="accent" [disabled]="swAdd"  (click)="adicionar()"> <mat-icon>add</mat-icon> </button>
  </div>


<div class="buttonAdd" >
  <button mat-fab color="accent" (click)="adicionar()"> <mat-icon>add</mat-icon> </button>
</div>

</div>
