.action{
    padding: 15px;
}
.card{
    width: 60%;
    margin: 15px auto;

}
.ancho{
    padding-left:20px; 
    width: 30%; 
}
.paddingleft{
    padding-left: 10px;
}
.margin{
    margin: 1px;
}

@media screen and (max-width:650px) {
    .ancho{
        width: 50%; 
    }   
    .card{
        width: 90%
    }   
}