<mat-card class="card">
<h2>Grupo</h2>
  
<mat-card-content>
  <mat-chip-list >
    <div *ngFor="let grupo of grupos">
      <mat-chip class="margin" >{{grupo.nombre}}
        <mat-icon class="paddingleft" (click)="editGrupo(grupo)" >edit</mat-icon> 
        <mat-icon color="warn" class="paddingleft" (click)="deleteGrupo(grupo.id)" >close</mat-icon></mat-chip>                        
    </div>
  </mat-chip-list>
</mat-card-content>
<mat-card-actions>
  <button mat-button *ngIf="!swGrupo" color="accent" (click)="addGrupo()"> <mat-icon>add</mat-icon> </button>    
  <div  *ngIf="swGrupo">
    <mat-form-field class="ancho">
      <input type="text"  matInput #nombreGp name="nombreGp" [(ngModel)]="grupo.nombre" autocomplete="off"  placeholder="Grupo" required>
    </mat-form-field>
    <button mat-button color="accent" (click)="guardar()"  >Guardar</button>
    <button mat-button color="warn" (click)="closeGrupo()"> <mat-icon>close</mat-icon> </button>
  </div>
</mat-card-actions>
</mat-card>