<mat-card class="card">
  <mat-card-title>
    <h3>Grupo</h3>
  </mat-card-title>
  
<mat-card-content>
  <mat-chip-list >
    <div *ngFor="let grupo of grupos">
      <mat-chip>{{grupo.nombre}} <mat-icon (click)="deleteGrupo(grupo.id)" >close</mat-icon></mat-chip>                        
    </div>
  </mat-chip-list>
</mat-card-content>
<mat-card-actions>
  <button mat-button *ngIf="!swGrupo" color="accent" (click)="addGrupo()"> <mat-icon>add</mat-icon> </button>    
  <div  *ngIf="swGrupo">
    <mat-form-field class="ancho">
      <input type="text"  matInput #nombreGp name="nombreGp" [(ngModel)]="grupo.nombre" autocomplete="off"  placeholder="Grupo" required>
    </mat-form-field>
    <button mat-button color="accent" (click)="postGrupo()"  >Guardar</button>
    <button mat-button color="warn" (click)="closeGrupo()"> <mat-icon>close</mat-icon> </button>
  </div>
</mat-card-actions>
</mat-card>