.top{
    margin-top: 2%;
}
.titulo{
    margin-left: 30px;
}
.margen0{
    margin: auto;
}
.margenVer{
    margin-left: 15%;
}
.cancel{
    margin-left: 20px;
}
.pullRight{
    float: right !important;
}
.ancho80{
    margin: auto;
    width: 80%;
}
.non{
    clear: right;
}
.enlinea{
    display: block;
    float: right;
}
.pullLeft{
    float: left;
    

}

.card{
    padding: 10px 10px 0px 10px;
    margin: 5px;
    width: 230px;
    height: 115px;
    display: inline-block;
}
.avatar {
    background-size: cover;
    width: 58px;
    height: 65px;
}
.nombre{
    margin-top:5px; 
    height:32px ;
}
.actions{
    margin: 0px;
    padding: 0px;
}
.center{
    margin-left: 10.5%;
    margin-right: 2.5%;
}
.formBuscar{
    width: 110%;
    margin-left: -15px;
}
.buscar{
    width: 100%;
}
#imgt{
    margin-left: 15px;
}
.radiobtn{
 margin: 5px;
}
.buttonAdd{
    position: fixed;
    top:85%;
    left: 90%;
}
@media screen and (max-width:750px) {
    .formBuscar{
        width: 90%;
    }
    .buttonAdd{
        
        top:85%;
        left: 80%;
    }
    .center{
        margin-left: 15%;
        margin-right: 2.5%;
    }   
}
@media screen and (max-width:375px) {
    
    .center{
        margin-left: 11%;
        margin-right: 2.5%;
    }   
}