<mat-toolbar color="primary">PROFESORES  </mat-toolbar>

<div fxLayout="column  wrap" fxLayoutAlign="space-around center"  >
    <mat-radio-group [(ngModel)]="busca" name="search" >
        <mat-radio-button class="radiobtn" *ngFor="let buscar of buscaPor" [value]="buscar">{{buscar}}</mat-radio-button>
      </mat-radio-group>
  <form class="formBuscar" >
    <mat-form-field class="buscar" >
      <input type="text" placeholder="Buscar por nombre" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" >
      <mat-autocomplete #auto="matAutocomplete" >
        <mat-option *ngFor="let profesor of filteredOptions | async" [value]="profesor.idPersona.nombre+' '+ profesor.idPersona.paterno+' '+profesor.idPersona.materno | uppercase" (click)="profesorSelected(profesor.idPersona)" >
            {{profesor.idPersona.nombre}} {{profesor.idPersona.paterno}} {{profesor.idPersona.materno}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </form>
  <mat-progress-bar *ngIf="consulta" mode="indeterminate"></mat-progress-bar>
 <div fxFlex="100" fxLayout="row wrap" >
  <div fxFlex="100" >

  </div>
  <div fxFlex="50" fxFlexOffset="5"   *ngIf="profesorEdit" >


    <h3 class="enlinea pullLeft"  >Profesor</h3>

      <button mat-icon-button class="enlinea cancel" *ngIf="action==='nuevo' || action==='editar'" color="primary" (click)="cancelar()" ><mat-icon>arrow_back</mat-icon> </button>
      <button mat-icon-button class="enlinea"  *ngIf="action==='nuevo' || action==='editar'" color="accent" (click)="guardarP()" ><mat-icon>save</mat-icon> </button>
      <button mat-icon-button class="enlinea" *ngIf="action==='ver'" color="primary" (click)="editar()" ><mat-icon>edit</mat-icon> </button>
      <button mat-icon-button class="enlinea" *ngIf="action==='nuevo' || action==='editar'" color="warn" (click)="cancelar()" ><mat-icon>delete_forever</mat-icon> </button>


    </div>
    <div fxFlex="85" fxFlexOffset="7" FxFill fxFlexAlign="start center" >
      <mat-card>
          <mat-card-content>
            <app-perfil
            *ngIf="profesorEdit" [persona]="profesorEdit"
            [action]="action"
            [tipo]="tipo"
            (EnviarPersona)="guardarProfesor($event)"
            [qrCode]="profesorEdit.identificacion"
              >
            </app-perfil>
            <app-materia
              [materias]="materias"
              [profesor]="profesorEdit"
            >
            </app-materia>

          </mat-card-content>

        <mat-card-actions >
          <button mat-button  *ngIf="action==='nuevo' || action==='editar'" color="primary" (click)="cancelar()" ><mat-icon>arrow_back</mat-icon>Atras</button>
          <button mat-button  *ngIf="action==='nuevo' || action==='editar'" color="accent" (click)="guardarP()" >Guardar<mat-icon>save</mat-icon> </button>
          <button mat-button  *ngIf="action==='ver'" color="primary" (click)="editar()" ><mat-icon>edit</mat-icon>Editar </button>
          <button mat-button  *ngIf="action==='nuevo' || action==='editar'" color="warn" (click)="cancelar()" >Borrar<mat-icon>delete_forever</mat-icon> </button>

        </mat-card-actions>

      </mat-card>

      </div>

 </div>

<div fxFlex="100">
  <mat-card *ngIf="profesorSelect" class="card">
    <mat-card-header >
      <div mat-card-avatar class="avatar"> <img id="imgt" [src]="profesorSelect.img?profesorSelect.img:'./assets/img/people.png'" width="50px" height="50px" >  </div>
      <div style="margin-left:15px">
          <mat-card-title class="nombre" >{{profesorSelect.nombre}} {{profesorSelect.paterno}} {{profesorSelect.materno}}</mat-card-title>
          <mat-card-subtitle>{{profesorSelect.cedula}}</mat-card-subtitle>
      </div>

    </mat-card-header>
      <mat-card-actions class="actions">
        <button mat-button color="accent" (click)="verProfesor(profesorSelect)" >Ver</button>
      </mat-card-actions>
  </mat-card>

</div>

<div fxFlex="100" class="center" fxFlexAlign="center" >
  <div class="card" *ngFor="let profesor of profesores">
    <mat-card class="card" *ngIf="profesor.idPersona"  >
      <mat-card-header >
        <div mat-card-avatar class="avatar"> <img id="imgt" [src]="profesor.idPersona.img ? profesor.idPersona.img:'./assets/img/people.png'" width="50px" height="50px" >  </div>
        <div style="margin-left:15px">
            <mat-card-title class="nombre" >{{profesor.idPersona.nombre}} {{profesor.idPersona.paterno}} {{profesor.idPersona.materno}}</mat-card-title>
            <mat-card-subtitle>{{profesor.idPersona.cedula}}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-actions class="actions">
        <button mat-button color="accent" (click)="verProfesor(profesor.idPersona)" >Ver</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

    <div class="buttonAdd" >
        <button mat-fab color="accent" (click)="adicionar()"> <mat-icon>add</mat-icon> </button>
    </div>


</div>
