<div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center">
   
    <div fxFlex="50"  fxFlex.xs="100" fxFlex.sm="100">
        <mat-card id="log">
            <mat-card-title>
                <div class="titulo" >
                    LOGIN
                  </div>
            </mat-card-title>    
          <form #loginForm="ngForm" >
                
                <div >
                  <p>
                  <mat-form-field>
                    <input type="text" matInput placeholder="Nombre de usuario"  #user="ngModel" id="user" name="user" [(ngModel)]="username"  required>
                    <mat-error *ngIf="user.invalid">No puede estar vacio este campo</mat-error>
                  </mat-form-field>  
                  <p>
                  <mat-form-field>
                    <input matInput placeholder="Ingrese su contraseña" id="pass" #pass="ngModel" [(ngModel)]="password" name="pass" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </mat-form-field>
                    
                  </p>
                  <p>
                    <button type="submit"  mat-raised-button class="block alto" (click)="submit()" color="accent">INGRESAR</button>    
                  </p>
                </div>
                
              </form>
        </mat-card>
    </div>  
    
    
</div>
