.container{
    width: 100%;
    height: 98%;
}
.fondo{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 35%;
    background-color: #397A92;
}
.card{
    background-color: white;
    border: 3px solid #e4e3e3;
    border-style: solid;
    padding: 20px;
    width: 320px;
    margin: 10% auto;   
}
.titulo{
    padding: 16px;
    padding-top: 0px;
    text-align: center;
    font-size: 2.5em;
}
.btn{
    background-color: #1E16F9;
    height: 38px;
    font-size: 20px;
    border: 0px;
    color: white;
}
.floating-form {
    width:230px;
    margin: 0px auto;
  }
.error{
    color:red;
    font-size: 0.8em;
}
.errorLog{
  margin-top: 16px ;
  color:red;
  font-size: 1.2em;
  text-align: center;
}
  /****  floating-Lable style start ****/
.hidePasswors{
    display: block;
    float: right;
    position: relative;
    top: -2em;
  }
  .floating-label { 
    position:relative; 
    margin-bottom:20px; 
  }
  .floating-input , .floating-select {
    font-size:14px;
    padding:4px 4px;
    display:block;
    width:100%;
    height:30px;
    background-color: transparent;
    border:none;
    border-bottom:1px solid #757575;
  }
  
  .floating-input:focus , .floating-select:focus {
       outline:none;
       border-bottom:2px solid #5264AE; 
  }
  
  
  label {
    color:#999; 
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:5px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  .floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
    top:-18px;
    font-size:14px;
    color:#5264AE;
  }
  
  .floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
    top:-18px;
    font-size:14px;
    color:#5264AE;
  }
  
  /* active state */
  .floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
    width:50%;
  }
  
  *, *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .floating-textarea {
     min-height: 30px;
     max-height: 260px; 
     overflow:hidden;
    overflow-x: hidden; 
  }
  
  /* highlighter */
  .highlight {
    position:absolute;
    height:50%; 
    width:100%; 
    top:15%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  .floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* animation */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  
  /****  floating-Lable style end ****/
  
@media only screen and (max-width:600px){
    .card{
        width: 300px;
        margin: 20% auto;   
    }
}  
  
.btn:disabled{
  background-color:  rgb(123, 120, 228);
}
