<div class="container">
<mat-sidenav-container fxLayout="row" class="content"  >
  <!-- <mat-sidenav  #sidenav [mode]=" mobileQuery.matches ? 'over' : 'side'" fxFlex="200px" fxFlex.lt-sm="200px"   [opened]="mobileQuery.matches"
     class="">
       -->
  <mat-sidenav  #sidenav mode="side" fxFlex="200px" fxFlex.lt-sm="200px"   [opened]="openside"
     class="sidenav">

     <mat-list>
      <mat-list-item class="menu" routerLink="usuarios"    [routerLinkActive]="['active']"><mat-icon>people</mat-icon> USUARIOS </mat-list-item>
      <mat-list-item class="menu" routerLink="materias"    [routerLinkActive]="['active']"><mat-icon>class</mat-icon> Materias </mat-list-item>
      <mat-list-item class="menu" routerLink="profesores"  [routerLinkActive]="['active']"><mat-icon >perm_identity</mat-icon> Profesores </mat-list-item>
      <mat-list-item class="menu" routerLink="horarios"    [routerLinkActive]="['active']"><mat-icon>schedule</mat-icon> Horarios </mat-list-item>
      <mat-list-item class="menu" routerLink="estudiantes" [routerLinkActive]="['active']"><mat-icon>school</mat-icon> Estudiantes </mat-list-item>
      <mat-list-item class="menu" routerLink="notas"       [routerLinkActive]="['active']"><mat-icon>content_paste</mat-icon> Notas </mat-list-item>
      <mat-list-item class="menu" routerLink="cursos"      [routerLinkActive]="['active']"><mat-icon>storage</mat-icon> Cursos </mat-list-item>
      <mat-list-item class="menu" routerLink="ajuste"      [routerLinkActive]="['active']"><mat-icon>build</mat-icon> Ajuste Cursos </mat-list-item>
      <mat-list-item class="menu" routerLink="pensiones"   [routerLinkActive]="['active']"><mat-icon>monetization_on</mat-icon> Pensiones </mat-list-item>
      <mat-list-item class="menu" routerLink="asistencias" [routerLinkActive]="['active']"><mat-icon>content_paste</mat-icon> Asistencias </mat-list-item>
    </mat-list>


    </mat-sidenav>

    <mat-sidenav-content fxFlex="100" fxFlex.lt-sm="100%" class="mat-elevation-z2">
      <header  >
        <mat-toolbar class="mat-elevation-z2"  color="primary">
            <mat-toolbar-row >
              <span> <mat-icon (click)="cambio()"  >reorder</mat-icon> </span>  <span>Administrador</span>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
