.container {
  padding: 20px;
}

.datatable-container {
  background-color: lightyellow;
  width: 100%;
}

.mat-table {
  overflow: auto;
}

.mat-header-row {
  background-color: #f2f2f2;
}

.mat-header-cell {
  background-color: #f2f2f2;
  padding: 20px 0px 20px 0px;
}

h1 {
  margin-bottom: 10px;
}

.fab {
  position: fixed;
  margin: 50px;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.mat-column-id_usuario { min-width: 100px; max-width: 100px; }
.mat-column-username   { min-width: 100px; max-width: 100%; }
.mat-column-nombre     { min-width: 150px; max-width: 100%; }
.mat-column-email      { min-width: 150px; max-width: 100%; }
.mat-column-roles      { min-width:  60px; max-width:  100%; }
.mat-column-_estado             { min-width:  80px; max-width:  80px; }
.mat-column-_fecha_creacion     { min-width: 150px; max-width: 150px; }
.mat-column-_fecha_modificacion { min-width: 150px; max-width: 150px; }
.mat-column-acciones            { min-width: 120px; max-width: 120px; text-align: center;}
