<div fxLayout="column" fxLayoutAlign="start start" class=container>

  <div fxLayout="row" style="width:100%">
    <div fxLayout="column" fxFlex="50%" fxLayoutAlign="start start">
      <h1 class="mat-display-1">USUARIOS</h1>
    </div>
    <div fxLayout="column" fxFlex="50%" fxLayoutAlign="end end">
      <button mat-fab color="accent" class="fab" (click)="crear()" matTooltip="Crear" matTooltipPosition="above"><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <div class="datatable-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort
    matSortActive="id_usuario" matSortDisableClear matSortDirection="asc">
      <ng-container matColumnDef="id_usuario">
        <mat-header-cell *matHeaderCellDef
        mat-sort-header disableClear="true"> ID USUARIO </mat-header-cell>
        <mat-cell *matCellDef="let usuario">{{usuario.id_usuario}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef
        mat-sort-header disableClear="true"> USUARIO </mat-header-cell>
        <mat-cell *matCellDef="let usuario">{{usuario.username}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef
        mat-sort-header disableClear="true"> NOMBRE </mat-header-cell>
        <mat-cell *matCellDef="let usuario">{{usuario.nombre}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef
        mat-sort-header disableClear="true"> EMAIL </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef
        mat-sort-header disableClear="true"> ROLES </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.rolesNombre.toString()}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="_estado">
        <mat-header-cell *matHeaderCellDef
        mat-sort-header disableClear="true"> ESTADO </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario._estado}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="_fecha_creacion">
        <mat-header-cell *matHeaderCellDef
        mat-sort-header disableClear="true"> FECHA CREACIÓN </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario._fecha_creacion}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="_fecha_modificacion">
        <mat-header-cell *matHeaderCellDef
        mat-sort-header disableClear="true"> FECHA MODIFICACIÓN </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario._fecha_modificacion}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> ACCIONES </mat-header-cell>
        <mat-cell *matCellDef="let usuario">
          <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button color="primary" [disabled]="!usuario._update" (click)="editar(usuario.id_usuario)" matTooltip="Editar" matTooltipPosition="above"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" [disabled]="!usuario._delete" (click)="eliminar(usuario.id_usuario)" matTooltip="Deshabilitar" matTooltipPosition="above"><mat-icon>clear</mat-icon></button>
            <button mat-icon-button color="dark" [disabled]="!usuario._restore" (click)="restaurar(usuario.id_usuario)" matTooltip="Habilitar" matTooltipPosition="above"><mat-icon>done</mat-icon></button>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="count" [pageSize]="5" [pageSizeOptions]="[5, 20, 50, 100]"></mat-paginator>
  </div>

</div>
