<div fxLayout="row wrap" fxLayoutAlign="center" >

  <div fxFlex="100" fxFlexAlign="center center">
    <div class="containerTable mat-elevation-z8">
	  <mat-table #table [dataSource]="estudiantes">

	    <ng-container matColumnDef="paterno">
	      <mat-header-cell *matHeaderCellDef> Paterno </mat-header-cell>
	      <mat-cell *matCellDef="let element"> {{element.paterno}} </mat-cell>
	    </ng-container>

	    <ng-container matColumnDef="materno">
	      <mat-header-cell *matHeaderCellDef> Materno </mat-header-cell>
	      <mat-cell *matCellDef="let element"> {{element.materno}} </mat-cell>
	    </ng-container>

	    <ng-container matColumnDef="nombre">
	      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
	      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
	    </ng-container>

	    <ng-container matColumnDef="editar">
	      <mat-header-cell *matHeaderCellDef> Ver </mat-header-cell>
	      <mat-cell *matCellDef="let element">
      	  <button mat-icon-button  (click)="ver(element)">
            <mat-icon> visibility</mat-icon>
          </button>
	      </mat-cell>
	    </ng-container>
	    <ng-container matColumnDef="borrar">
	      <mat-header-cell *matHeaderCellDef> Borrar </mat-header-cell>
	      <mat-cell *matCellDef="let element">
	      	 <button mat-icon-button color="warn" (click)="eliminar(element.id)" >
              <mat-icon>delete_forever</mat-icon>
            </button>
	      </mat-cell>
	    </ng-container>

	    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	  </mat-table>
	</div>

  </div>
</div>
<!-- <div class="buttonAdd" >
  <button mat-fab color="accent" > <mat-icon>dvr</mat-icon> </button>
</div> -->
