<table border="0" cellpadding="5px" cellspacing="0px">
  <thead>
    <tr>
      <th rowspan="2">Nro.</th>
      <th rowspan="2">Nombre</th>
      <th colspan="7">Enero</th>
    </tr>
    <tr>
      <th>Lun 1</th>
      <th>Mar 2</th>
      <th>Mie 3</th>
      <th>Jue 4</th>
      <th>Vie 5</th>
      <th>Sab 6</th>
      <th>Dom 7</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>Juan Perez</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td></tr>
    <tr><td>2</td><td>Juan Perez</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td></tr>
    <tr><td>3</td><td>Juan Perez</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td></tr>
    <tr><td>4</td><td>Juan Perez</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td></tr>
    <tr><td>5</td><td>Juan Perez</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td></tr>
    <tr><td>6</td><td>Juan Perez</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td></tr>
    <tr><td>6</td><td>Juan Perez</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td><td>08:15 - 12:05</td></tr>
  </tbody>
</table>
