<div class="menu-top" fxLayout="row">
  <div fxLayout="column" fxFlex="50%" fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="end end">
      <form>
        <mat-form-field>
          <input type="number" matInput placeholder="Año" required [(ngModel)]="anioAsistencia" name="anioAsistencia" (change)="actualizar()">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Mes" [(value)]="mesAsistencia" (change)="actualizar()">
            <mat-option value="01">Enero</mat-option>
            <mat-option value="02">Febrero</mat-option>
            <mat-option value="03">Marzo</mat-option>
            <mat-option value="04">Abril</mat-option>
            <mat-option value="05">Mayo</mat-option>
            <mat-option value="06">Junio</mat-option>
            <mat-option value="07">Julio</mat-option>
            <mat-option value="08">Agosto</mat-option>
            <mat-option value="09">Septiembre</mat-option>
            <mat-option value="10">Octubre</mat-option>
            <mat-option value="11">Noviembre</mat-option>
            <mat-option value="12">Diciembre</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
   </div>
  <div fxLayout="column" fxFlex="50%" fxLayoutAlign="start end">
    <div fxLayout="row" fxLayoutAlign="end end">
      <button type="button" mat-raised-button color="primary" (click)="printGeneral()"><mat-icon>picture_as_pdf</mat-icon> Reporte General</button>
    </div>
  </div>
</div>

<div class="menu-top" fxLayout="row">
  <div fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="end end">
      <form>
        <mat-form-field>
          <mat-select placeholder="Grupo" [(value)]="idGrupo" (change)="actualizar()">
            <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">{{grupo.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Grado" [(value)]="idGrado" (change)="actualizar()">
            <mat-option *ngFor="let grado of grados" [value]="grado.id">{{grado.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Turno" [(value)]="idTurno" (change)="actualizar()">
            <mat-option *ngFor="let turno of turnos" [value]="turno.id">{{turno.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Paralelo" [(value)]="idParalelo" (change)="actualizar()">
            <mat-option *ngFor="let paralelo of paralelos" [value]="paralelo.id">{{paralelo.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
   </div>
</div>

<mat-progress-bar color="primary" [mode]="loadingMode" value="0"></mat-progress-bar>
<div class="container">
  <table border="0" cellpadding="0px" cellspacing="0px">
    <thead>
      <tr>
        <th class="static-title1" rowspan="2">N°</th>
        <th class="static-title2" rowspan="2" style="min-width:200px">Nombre</th>
        <th class="static-space" rowspan="2"></th>
        <th [attr.colspan]="days.length">{{mesNombre}} {{anioNombre}}</th>
        <th colspan="4">Total</th>
        <th rowspan="2">Reporte</th>
      </tr>
      <tr>
        <th></th>
        <th *ngFor="let day of days">{{day.id}}</th>
        <th style="min-width:20px" matTooltip="Asistencias" matTooltipPosition="above">As</th>
        <th style="min-width:20px" matTooltip="Faltas" matTooltipPosition="above">Fa</th>
        <th style="min-width:20px" matTooltip="Licencias" matTooltipPosition="above">Li</th>
        <th style="min-width:20px" matTooltip="Atrasos" matTooltipPosition="above">At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of dataSource; let i = index">
        <td class="no-select static-data1">{{i + 1}}</td>
        <td class="no-select static-data2" style="text-align:left;padding-left:10px">{{persona.nombre}}</td>
        <td class="no-select static-space"></td>
        <td *ngFor="let day of days">
          <div *ngIf="(day.nro > 5)" class="white"></div>
          <div *ngIf="(day.nro <= 5)">
            <div *ngIf="persona.marcas.includes(day.id)">
              <div *ngFor="let asistencia of persona.asistencias">
                <div *ngIf="(asistencia.atrasado === true) && asistencia.dia === day.id" class="yellow">&#x2713;</div>
                <div *ngIf="(asistencia.atrasado === false) && asistencia.dia === day.id && asistencia.observacion === null" class="green">&#x2713;</div>
                <div *ngIf="(asistencia.atrasado === false) && asistencia.dia === day.id && asistencia.observacion !== null" class="red pointer" [matTooltip]="asistencia.observacion" matTooltipPosition="above" (click)="editarObservacion(day.id, persona, asistencia)">&#x2713;</div>
              </div>
            </div>
            <div *ngIf="!persona.marcas.includes(day.id)" class="red pointer" (click)="editarObservacion(day.id, persona)"></div>
          </div>
        </td>
        <td class="no-select green">{{persona.totalAsistencias}}</td>
        <td class="no-select red">{{persona.totalFaltas}}</td>
        <td class="no-select red">{{persona.totalLicencias}}</td>
        <td class="no-select yellow">{{persona.totalAtrasos}}</td>
        <td class="no-select"><button mat-icon-button matTooltip="Reporte individual" matTooltipPosition="above" (click)="print(persona)"><mat-icon>picture_as_pdf</mat-icon></button></td>
      </tr>
    </tbody>
  </table>
</div>
