.container {
  // background-color: red;
  width: 100%;
  max-height: calc(100vh - 300px);
  min-width: 500px;
  overflow:auto;
}

table.master {
  table-layout: fixed;
  width: 100%;
  // border: solid black 1px;
}

table.master td.master {
  // background-color: lightyellow;
  // border: 1px solid #000;
}

table.master th.master {
  background-color:#efefef;
  border-bottom: 1px solid lightgrey;
  width: 100px;
  vertical-align: top;
}

table.master td.master:first-child,
table.master th.master:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  // background-color: lightblue;
}

table.master td.master:last-child,
table.master th.master:last-child {
  position:sticky;
  right: 0;
  z-index: 1;
  // background-color: lightcyan;
}

table.master thead.master tr.master th.master {
  position: sticky;
  top: 0;
}

table.master th.master:first-child,
table.master th.master:last-child {
  z-index: 2;
}

.btn-report:hover {
  cursor: pointer;
}

.estilo-asistencia {
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  background-color: #edffed;
  text-align: center;
}

.estilo-licencia {
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  background-color: lightyellow;
  text-align: center;
}

.estilo-falta {
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  background-color: #ffd6d6;
  text-align: center;
}

.estilo-inactivo {
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  background-color: white;
  text-align: center;
}

table.master tr td,
table.master tr th {
  border-top: solid lightgrey 1px;
  border-left: solid lightgrey 1px;
}

table.master {
  border-bottom: solid lightgrey 1px;
  border-right: solid lightgrey 1px;
}

table.child tr td,
table.child tr th {
  border-top: solid lightgrey 0px;
  border-left: solid lightgrey 0px;
}

table.child {
  border-bottom: solid lightgrey 0px;
  border-right: solid lightgrey 0px;
}

.pointer {
  cursor: pointer;
}