.container {
  overflow: auto;
}

table, td, th {
  border: solid lightgrey 1px;
  text-align: center;
  // padding: 5px;
}

table {
  border: 0px;
}

.example-tooltip-host {
  display: inline-flex;
  align-items: center;
  margin: 50px;
}

.example-select {
  margin: 0 10px;
}

thead {
  background-color: #f2f2f2;
}

thead th {
  padding: 5px;
}

tbody tr td:hover {
  border: solid black 1px;
}

tbody tr td.no-select:hover {
  border: solid lightgrey 1px;
}

.pointer {
  cursor: pointer;
}

.green {
  background-color: #edffed;
  width: 30px;
  height: 30px;
  padding-top: 10px;
}

.yellow {
  background-color: lightyellow;
  width: 30px;
  height: 30px;
  padding-top: 10px;
}
.red:hover {
  // border: solid black 1px;
}

.red {
  background-color: #ffd6d6;
  width: 30px;
  height: 30px;
  padding-top: 10px;
}

.white {
  background-color: white;
  width: 30px;
  height: 30px;
  padding-top: 10px;
}

.static-title1 {
  width: 40px;
  height: 44px;
  position: absolute;
  background-color: #f2f2f2;
  z-index: 999
}

.static-title2 {
  width: 260px;
  height: 44px;
  position: absolute;
  background-color: #f2f2f2;
  margin-left: 52px;
}

.static-data1 {
  width: 30px;
  height: 20px;
  position: absolute;
  background-color: white;
  padding: 10px;
}

.static-data2 {
  width: 250px;
  height: 20px;
  position: absolute;
  background-color: white;
  padding: 10px;
  margin-left: 52px;
}

.static-space {
  min-width: 300px;
}
