<form>
<mat-form-field>
  <input type="number" matInput placeholder="Año" required [(ngModel)]="anioAsistencia" name="anioAsistencia" (change)="actualizar()">
</mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Mes" [(value)]="mesAsistencia" (change)="actualizar()">
      <mat-option value="01">Enero</mat-option>
      <mat-option value="02">Febrero</mat-option>
      <mat-option value="03">Marzo</mat-option>
      <mat-option value="04">Abril</mat-option>
      <mat-option value="05">Mayo</mat-option>
      <mat-option value="06">Junio</mat-option>
      <mat-option value="07">Julio</mat-option>
      <mat-option value="08">Agosto</mat-option>
      <mat-option value="09">Septiembre</mat-option>
      <mat-option value="10">Octubre</mat-option>
      <mat-option value="11">Noviembre</mat-option>
      <mat-option value="12">Diciembre</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<mat-progress-bar color="primary" [mode]="loadingMode" value="0"></mat-progress-bar>
<div class="container">
  <table border="0" cellpadding="0px" cellspacing="0px">
    <thead>
      <tr>
        <th class="static-title1" rowspan="2">N°</th>
        <th class="static-title2" rowspan="2" style="min-width:200px">Nombre</th>
        <th class="static-space" rowspan="2"></th>
        <th [attr.colspan]="days.length">{{mesNombre}} {{anioNombre}}</th>
        <th colspan="3">Total</th>
      </tr>
      <tr>
        <th></th>
        <th *ngFor="let day of days">{{day.id}}</th>
        <th>Asistencias</th>
        <th>Faltas</th>
        <th>Licencias</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of dataSource; let i = index">
        <td class="static-data1">{{i + 1}}</td>
        <td class="static-data2" style="text-align:left;padding-left:10px">{{persona.nombre}}</td>
        <td class="static-space"></td>
        <td *ngFor="let day of days">
          <div *ngIf="(day.nro > 5)" class="white"></div>
          <div *ngIf="(day.nro <= 5)">
            <div *ngIf="persona.marcas.includes(day.id)">
              <div *ngFor="let asistencia of persona.asistencias">
                <div *ngIf="(asistencia.atrasado === true) && asistencia.dia === day.id" class="red">&#x2713;</div>
                <div *ngIf="(asistencia.atrasado === false) && asistencia.dia === day.id && asistencia.observacion === null" class="green">&#x2713;</div>
                <div *ngIf="(asistencia.atrasado === false) && asistencia.dia === day.id && asistencia.observacion !== null" class="yellow"  [matTooltip]="asistencia.observacion" matTooltipPosition="above">Lic.</div>
              </div>
            </div>
            <div *ngIf="!persona.marcas.includes(day.id)" class="red" (click)="agregarObservacion(day.id, persona)"></div>
          </div>
        </td>
        <td>{{persona.totalAsistencias}}</td>
        <td>{{persona.totalFaltas}}</td>
        <td>{{persona.totalLicencias}}</td>
      </tr>
    </tbody>
  </table>
</div>
