<form>
  <mat-form-field>
    <input matInput placeholder="Mes" required [(ngModel)]="mesAsistencia" name="mesAsistencia">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Año" required [(ngModel)]="anioAsistencia" name="anioAsistencia">
  </mat-form-field>

  <button type="submit" mat-button color="primary" (click)="actualizar()">Actualizar</button>
</form>

<table border="0" cellpadding="0px" cellspacing="0px">
  <thead>
    <tr>
      <th rowspan="2">N°</th>
      <th rowspan="2" style="min-width:200px">Nombre</th>
      <th [attr.colspan]="days.length">{{mesNombre}} {{anioNombre}}</th>
      <th colspan="3">Total</th>
    </tr>
    <tr>
      <th *ngFor="let day of days">{{day.id}}</th>
      <th>Asistencias</th>
      <th>Faltas</th>
      <th>Atrasos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of dataSource; let i = index">
      <td>{{i + 1}}</td>
      <td>{{persona.nombre}}</td>
      <td *ngFor="let day of days">
        <!-- <div *ngIf="!persona.marcas.includes(day.id) && (day.nro <= 5)" class="red"></div>
        <div *ngIf="!persona.marcas.includes(day.id) && (day.nro > 5)" class="white"></div> -->

        <div *ngIf="(day.nro > 5)" class="white"></div>
        <div *ngIf="(day.nro <= 5)">

          <div *ngIf="persona.marcas.includes(day.id)">
            <div *ngFor="let asistencia of persona.asistencias">
              <div *ngIf="(asistencia.atrasado === true) && asistencia.dia === day.id" class="yellow">&#x2713;</div>
              <div *ngIf="(asistencia.atrasado === false) && asistencia.dia === day.id && asistencia.observacion === null" class="green">&#x2713;</div>
              <div *ngIf="(asistencia.atrasado === false) && asistencia.dia === day.id && asistencia.observacion !== null" class="red"  [matTooltip]="asistencia.observacion" matTooltipPosition="above">Lic.</div>
            </div>
          </div>

          <div *ngIf="!persona.marcas.includes(day.id)" class="red" (click)="agregarObservacion(day.id, persona)"></div>

        </div>

        <!-- <div *ngIf="persona.marcas.includes(day.id)">
          <div *ngFor="let asistencia of persona.asistencias">
            <div *ngIf="(asistencia.atrasado === true) && asistencia.dia === day.id" class="yellow">&#x2713;</div>
            <div *ngIf="(asistencia.atrasado === false) && asistencia.dia === day.id" class="green">&#x2713;</div>
          </div>
        </div> -->
      </td>
      <td>{{persona.totalAsistencias}}</td>
      <td>{{persona.totalFaltas}}</td>
      <td>{{persona.totalAtrasos}}</td>
    </tr>
  </tbody>
</table>
<!-- <table border="0" cellpadding="5px" cellspacing="0px">
  <thead>
    <tr>
      <th rowspan="2">Nro.</th>
      <th rowspan="2">Nombre</th>
      <th colspan="30">Enero</th>
    </tr>
    <tr>
      <th *ngFor="let day of days; let i = index">{{day}}</th>
    </tr>
    <th rowspan="2">Asistencias</th>
    <th rowspan="2">Faltas</th>
    <th rowspan="2">Atrasos</th>
  </thead>
  <tbody>
    <tr *ngFor="let persona of dataSource">
      <td>{{persona.id}}</td>
      <td>{{persona.nombre}}</td>
      <td *ngFor="let day of days; let i = index">·</td>
      <td>{{persona.asistencias}}</td>
      <td>{{persona.faltas}}</td>
      <td>{{persona.atrasos}}</td>
    </tr>
  </tbody>
</table> -->
