<div [ngStyle]="{'background': '#fff url(' + imgBackground + ') repeat 0 0'}">
  <header class="" >

  </header>
  <section>
    <div class="container  " >
      <div  class="ancho60">
        <div  class="center campos ">

          <div class="casilla campoLn " >
            <div >
              <div >
                <h3  class=" matricula textCenter" > NÚMERO DE MATRÍCULA</h3>
              </div>
              <div >
                  <h3 class="matricula textCenter" >{{perfil.nroMatricula}}</h3>
              </div>
            </div>
              
          </div>
          <div  class="datos">
              <div class="casilla" >
                  <div>
                    <h3 class="titulo">APELLIDOS Y NOMBRES</h3>  
                  </div>
                  <p class="campo ">{{perfil.paterno | uppercase }} {{perfil.materno | uppercase }} {{perfil.nombre | uppercase }}</p>  
                </div>
                <div class="casilla" >
                  <h3 class="titulo">CURSO</h3>  
                  <p class="campo ">{{perfil.paterno | uppercase }} {{perfil.materno | uppercase }} {{perfil.nombre | uppercase }}</p>  
                </div>
                <div class="casilla" >
                  <h3 class="titulo">TURNO</h3>  
                  <p class="campo ">{{perfil.paterno | uppercase }} {{perfil.materno | uppercase }} {{perfil.nombre | uppercase }}</p>  
                </div>
          </div>
          <div class="casilla campoLn " >
              <div style="background:rgb(30, 88, 196)">
                <div >
                  <div class="textCenter registro" >
                      <h3 class="tituloES">INGRESO</h3>  
                      <p class="campoES ">{{perfil.paterno | uppercase }} {{perfil.materno | uppercase }} {{perfil.nombre | uppercase }}</p>
                  </div>
                </div>
                <div >
                    <div class=" textCenter registro" >
                        <h3 class="tituloES">SALIDA</h3>  
                        <p class="campoES ">{{perfil.paterno | uppercase }} {{perfil.materno | uppercase }} {{perfil.nombre | uppercase }}</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div style="" class="ancho40">
        
        <div class="bloqueimg">
          <img [src]="perfil.img ? perfil.img : './assets/img/people.png'" width="200px" height="200px" alt="">
        </div>
        <div class="bloque">
            <qr-code  [value]="'Yo world!'" size="150"></qr-code>
        </div>
      
      </div>
    </div>
  </section>
</div>
