.center{
    display: block;
    margin: auto;
}


.perfil{
    padding: 10px;
}
table tr td{
    padding: 5px 0px 5px 16px;
    width: auto;
}



.width80{
    width: 80%;
}
.img{
    padding-left: 25px;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.custom {
    display: inline-block;
    padding: 12px 6px;
    cursor: pointer;
}
input#avatar{
    cursor: pointer;
  }
#avatar{
    display: none;
}

@media only screen and (max-width: 959px) {
    .buttonAdd{
        left: 80%;
    }
}