<div>
    <!-- <form action="">
      <h3>Materias</h3>
      <mat-form-field *ngIf="materiasLista" >
        <mat-select placeholder="Materias">
          <mat-option *ngFor="let materia of materiasLista" [value]="materia.nombre">
            {{ materia.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <button mat-button color="accent" > <mat-icon>add</mat-icon> Adicionar</button>
    </form> -->
  <mat-card>
      <mat-card-title>
        Materias
        <button mat-button color="accent" (click)="adiciona()" *ngIf="!adicionar" > <mat-icon>add</mat-icon> Adicionar</button>
        <button mat-button color="warn" *ngIf="adicionar" (click)="adiciona()" > <mat-icon>undo</mat-icon> Atras</button>
        
      </mat-card-title>
      <mat-card-subtitle >
        <div *ngIf="adicionar">
          <mat-form-field *ngIf="materiasLista" >
              <mat-select placeholder="Materias">
                <mat-option *ngFor="let materia of materiasLista" [value]="materia.nombre">
                  {{ materia.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <button mat-button color="accent" > <mat-icon>save</mat-icon> Guardar</button>
        </div>
      </mat-card-subtitle>

    <mat-card-actions>
        
    </mat-card-actions>
  </mat-card>


</div>
<table> 
  <tr *ngFor="let materia of materias">
    <td>{{materia.sigla}}</td>
    <td>{{materia.nombre}}</td>
    
    <td><button mat-icon-button color="warn" (click)="eliminar(materia)" >
      <mat-icon>delete_forever</mat-icon>
    </button></td>
  </tr>
</table>
