.buttonAdd{
    position: fixed;
    top:85%;
    left: 90%;
}
.blockAdd{
    width:90%;
    margin: 0px auto;
    margin-top: 5%;
}
.block{
    margin: 0px 16px;
    margin-left: 16px !important;
    
}
.center{
margin: 0px auto;
}
@media only screen and (max-width: 959px) {
    .buttonAdd{
        left: 80%;
    }
}