
    <mat-toolbar color="primary">MATERIAS  </mat-toolbar>

<section fxLayout="column">
    <mat-progress-bar *ngIf="consulta" mode="query" ></mat-progress-bar>  
  <div fxFlex="100" fxFlexAlign="center">
      
        <table> 
          <tr *ngFor="let materia of asignaturas">
            <td>{{materia.sigla}}</td>
            <td>{{materia.nombre}}</td>
            <td><button mat-raised-button color="accent" (click)="editar(materia)">Editar</button></td>
            <td><button mat-raised-button color="warn" (click)="eliminar(materia)" >Eliminar</button></td>
          </tr>
        </table>
      </div>
</section>

<div class="buttonAdd" >
    <button mat-fab color="accent" (click)="adicionar()"> <mat-icon>add</mat-icon> </button>
</div>
