<h1 mat-dialog-title>{{data.action | uppercase}} MATERIA </h1>
<div mat-dialog-content class="fullContent">
  <form #materiaForm="ngForm" class="">
    <mat-form-field class="blockAdd" >
      <input type="text"  matInput #sigla="ngModel" name="sigla" autocomplete="off" [(ngModel)]="materia.sigla" placeholder="Ingrese la sigla" required>
      <mat-error *ngIf="sigla.invalid">Campo obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field class="blockAdd" >
      <input type="text"  matInput #mate="ngModel" name="mate" autocomplete="off" [(ngModel)]="materia.nombre" placeholder="Ingrese la materia" required>
      <mat-error *ngIf="mate.invalid">Campo obligatorio</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <div  class="center" >
    <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-button color="accent" type="submit" (click)="submit()">Guardar</button>
  </div>
</div>
