<div fxLayout="column" fxLayoutAlign="start start" class=container>
  <div class="example-container">
    <div class="row">
      <div class="key" fxLayout="column" fxFlex="150px" fxLayoutAlign="start start">
        <p class="mat-body-2">ID USUARIO:</p>
      </div>
      <div class="value" fxLayout="column" fxFlex="100%" fxLayoutAlign="start start">
        <p class="mat-body-1">{{ idUsuario }}</p>
      </div>
    </div>
    <div class="row">
      <div class="key" fxLayout="column" fxFlex="150px" fxLayoutAlign="start start">
        <p class="mat-body-2">NOMBRE:</p>
      </div>
      <div class="value" fxLayout="column" fxFlex="100%" fxLayoutAlign="start start">
        <p class="mat-body-1">{{ nombre }}</p>
      </div>
    </div>
    <div class="row">
      <div class="key" fxLayout="column" fxFlex="150px" fxLayoutAlign="start start">
        <p class="mat-body-2">ROLES:</p>
      </div>
      <div class="value" fxLayout="column" fxFlex="100%" fxLayoutAlign="start start">
        <p class="mat-body-1">{{ roles }}</p>
      </div>
    </div>
    <div class="row">
      <div class="key" fxLayout="column" fxFlex="150px" fxLayoutAlign="start start">
        <p class="mat-body-2">TOKEN ACCESO:</p>
      </div>
      <div class="value" fxLayout="column" fxFlex="100%" fxLayoutAlign="start start">
        <p class="mat-body-1">{{ tokenAcceso }}</p>
      </div>
    </div>
    <div class="row">
      <div class="key" fxLayout="column" fxFlex="150px" fxLayoutAlign="start start">
        <p class="mat-body-2">TOKEN REFRESCO:</p>
      </div>
      <div class="value" fxLayout="column" fxFlex="100%" fxLayoutAlign="start start">
        <p class="mat-body-1">{{ tokenRefresco }}</p>
      </div>
    </div>
  </div>
</div>
