<div class="container">

  <h1 class="mat-display-1">Historial de asistencias</h1>

  <div *ngFor="let estudiante of estudiantes">

    <div class="container">
        <div fxLayout="row" fxLayoutAlign="start start">
          <div fxLayout="column" fxLayoutAlign="start stretch" class="form">

            <span class="seccion-title">{{ estudiante.nombreCompleto }}</span>

            <div class="container">

              <table mat-table [dataSource]="estudiante.dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="nro">
                  <th mat-header-cell *matHeaderCellDef> Nro. </th>
                  <td mat-cell *matCellDef="let element"> {{element.nro}} </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef> Fecha </th>
                  <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>

                <ng-container matColumnDef="hora_llegada">
                  <th mat-header-cell *matHeaderCellDef> Hora de llegada </th>
                  <td mat-cell *matCellDef="let element"> {{element.hora_llegada}} </td>
                </ng-container>

                <ng-container matColumnDef="hora_salida">
                  <th mat-header-cell *matHeaderCellDef> Hora de salida </th>
                  <td mat-cell *matCellDef="let element"> {{element.hora_salida}} </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                </ng-container>

                <ng-container matColumnDef="observacion">
                  <th mat-header-cell *matHeaderCellDef> Observación </th>
                  <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>

          </div>

          <div class="separator"></div>

        </div>
    </div>

  </div>

</div>
