/* You can add global styles to this file, and also import other style files */

html{
    height: 99%;
    width: 100%;
}
.full{
    height: 100%;
    width: 100%;
    margin: 0px;  
}
.block{
    width: 100%;
}
.colorprimario{
    background-color: #2196f3;
}
body{
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
