<div>
  <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>{{user}}</span>
        <span class="spacer"></span>
        <button mat-button routerLink="asistencia" [routerLinkActive]="['active']" (click)="estadoA()" > <mat-icon>assignment</mat-icon> Asistencia</button>
        <button mat-button routerLink="horario" [routerLinkActive]="['active']"  (click)="estadoH()" >  <mat-icon>event</mat-icon> Horario</button>
        <button mat-button routerLink="notas" [routerLinkActive]="['active']" (click)="estadoN()"  > <mat-icon>done_all</mat-icon> Notas</button>
      </mat-toolbar-row>
    
      <mat-toolbar-row>
        <h1 style="font-size:1.5em" >{{estado|uppercase}}</h1> 
        <span class="spacer"></span>
        <button mat-raised-button color="warn" (click)="logOut()" >Salir<mat-icon   >highlight_off</mat-icon>
        </button>
      </mat-toolbar-row>
    
  </mat-toolbar>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center" >
    
  <router-outlet></router-outlet>
</div>